.textcenter {
  text-align: center;
}

.inline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.test {
  margin-left: 0; 
  margin-right: 0;
}

.divider{
  width:15px;
  height:auto;
  display:inline-block;
}

.inline2 {
  display: flex;
  flex-direction: row;
}
