<!DOCTYPE html>
<html>

<head>
    <title>Create Event</title>
    <link rel="stylesheet" type="text/css" href="../assets/style.css">
</head>

<body>
    <div class="container">
        <center>
            <h1> Create Event Form</h1>
        </center>
        <hr>
        <form action="/create" method="POST" id="myform">
            <label> First Name: </label>
            <input type="text" name="firstname" placeholder="First Name" size="15" required />
            <label> Last Name: </label>
            <input type="text" name="lastname" placeholder="Last Name" size="15" required />
            <label> Maximum Attendees: </label>  
            <input type="number" name="max-attendees" min="0" max="200" placeholder="Max Attendees"/> 
            <label for="start-time"> Start Datetime: </label>
            <input type="datetime-local" name="start-time">
            <label for="end-time"> End Datetime: </label>
            <input type="datetime-local" name="end-time">
            <button type="submit" class="registerbtn">Register</button>
        </form>
    </div>
    <script type="text/javascript" src="../assets/script.js"></script>
</body>

</html>